@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./prose.css);
@import url(./prism-nord.css);
@import url(./loading.css);
@import url(./toc.css);

// For theme switcher
:root {
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

[data-theme='dark'] body {
  color: #fff;
  --foreground: white;
  --background: black;
}

/* @media (prefers-color-scheme: dark) {
  pre[data-theme='light'],
  code[data-theme='light'] {
    display: none;
  }
}

@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  pre[data-theme='dark'],
  code[data-theme='dark'] {
    display: none;
  }
} */
