.prose a {
  @apply transition-all no-underline;
}

/* 💻 Code block */

/* pretty-code (shiki) recommend */
.prose pre > code {
  display: grid;
}

/* Fenced Code block - hide horizontal scrollbar: webkit */
.prose pre::-webkit-scrollbar {
  display: none;
}

/* Fenced Code block - hide horizontal scrollbar: mozila */
.prose pre {
  scrollbar-width: none;
}

/* Fenced Code block - line style */
.prose pre span[data-line] {
  @apply inline-block px-4 py-0.5 leading-snug;
}

.prose blockquote {
  border-left: 4px solid dodgerblue;
}
.prose h1 {
  @apply font-bold mb-4 mt-8;
}

.prose h4 a {
  @apply text-lg;
}

.prose h5 a {
  @apply text-lg font-semibold;
}

/*
.prose .anchor {
  @apply invisible absolute no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  cursor: pointer;
}

.prose .anchor:after {
  @apply text-gray-300 dark:text-gray-700;

  content: '#';

}

.anchor:hover,
.prose *:hover > .anchor {
  @apply visible;
} */

.prose ol[data-slot='list'] {
  margin-top: 0;
  margin-bottom: 0;
  padding: 4px 12px;
}
