@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./prose.css);

// For theme switcher
/*
:root {
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

[data-theme='dark'] body {
  color: #fff;
  --foreground: white;
  --background: black;
}
*/

h2#toc {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h2#toc + ul {
  border-bottom: 1px solid #e2e8f0;
  padding-bottom: 2rem;
  margin-bottom: 3.5rem;
}

h2#toc + ul li a {
  text-decoration: underline;
  display: block;
  width: 100%;
  overflow-wrap: break-words;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (min-width: 1024px) {
  h2#toc {
    display: none;
  }
  h2#toc + ul {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  pre[data-theme='light'],
  code[data-theme='light'] {
    display: none;
  }
}

@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  pre[data-theme='dark'],
  code[data-theme='dark'] {
    display: none;
  }
}
